on:
  push:
    branches:
    - main
    - release/*

jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-22.04

    steps:
      - name: Print1
        run: |
          echo "$ACTIONS_CACHE_URL"
          
      - name: Print2
        run: env 



