on:
  push:
    branches:
    - main
    - release/*

jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-22.04

    steps:
      - name: Install Dependencies
        run: echo ${{env.ACTIONS_CACHE_URL}}
